/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .header {
        font-size: 20px;
    }
}

.header_links {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header_links_item {
    color: black;
    margin-right: 15px;
       
}

.header_registr {
    margin-right: 10px;
}

.header_registr_link {
    height: 35px;
    width: 170px;
    background-color: #5FC233;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    transition: .3s;
}
.header_registr_link:hover {
    background-color: #4EBAF0;
    transition: .3s;
}

@media (min-width: 1200px) {
    .header_registr_link {
        height: 45px;
        width: 190px;
    }
}