.talent_item {
    display: flex;
    margin: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #080a0a;
    border-radius: 10px;
    
}

.talent_wrapper {
    margin-left: 15px;
    margin-right: 10px;
}

.talent_item-name {
    font-size: 20px;
}

.talent_item-description {
    font-family: 'Comfortaa', cursive;
}

@media (min-width: 1200px) {
    .talent_item-description {
        font-size: 17px;
    }
}

.talent_wrapper {
    position: relative;
}

.gif_wrapper {
    background: linear-gradient(90deg, rgba(16,20,21,1) 0%, rgba(36,38,39,1) 100%);
    border-radius: 5px;

}

.gif {
    z-index: 9999;
  }

.gifka {
    padding: 5px;
    border-radius: 5px;
    width: 410px;
}

@media (max-width: 630px) {
    .gifka {
        width: 350px;
    }
}

@media (max-width: 570px) {
    .gifka {
        width: 320px;
    }
}